{% import '/macro/section.html.twig' as section %}
<!-- Footer-->
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <small>Réalisé par Siaka MANSALY - 2021</small>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                {{section.reseauxSociaux()}}
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/legalNotice" rel="noopener"
                            class="nav-footer p-0">Mentions légales</a></li>
                    <li class="nav-item mb-2"><a href="/sitemap" rel="noopener" class="nav-footer p-0">Plan
                            du site</a></li>
                </ul>
            </div>
        </div>
    </div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<script src="/js/validateForm.js"></script>

