{% import '/macro/form.html.twig' as form %}
<!-- Lost Password-->
<div class="lostpassword-modal modal fade" id="lostpassword" tabindex="-1" aria-labelledby="lostpassword"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5 mb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Lost Password Section Heading-->
                            <h2 class="page-section-heading text-center text-uppercase text-primary">Mot de passe oublié
                            </h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom divider-secondary">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-user-circle"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <div class="container">
                                <form id="formLostPassword" method="post">
                                    <div id="alertLostPassword"></div>
                                    <p class="row mb-4 justify-content-center">Indiquez l'adresse e-mail associée à
                                        votre compte pour générer un nouveau mot de passe.</p>

                                    <div class="row mb-4 justify-content-center">
                                        {{ form.input('emailLostPassword','Email', {class:'col',other:'required',
                                        type:'email'})}}

                                    </div>


                                    <div class="row mb-4 justify-content-center">
                                        <div class="col">
                                        <button id="buttonLostPassword" class="btn btn-primary w-100 btn-lg" type="submit">Valider</button></div>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>