{% import '/macro/section.html.twig' as section %}
{% import '/macro/form.html.twig' as form %}
{% extends "layout.html.twig" %}
{% block navbar %}{% set urlblog = "" %}{% set url = "/" %}{% set urldash = "/" %} {{ parent() }}{% endblock %}
{% block content %}
<header id="renew" class="page-section bg-light border-bottom  hero">
    <div class="container">
        <div class="text-center mt-5">
            <h1 class="fw-bolder text-light">Tapez un nouveau mot de passe.</h1>
        </div>
    </div>
</header>
<div id="renew" class="my-4 container text-primary">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-6 px-5">
            <section class="mb-5">
                <form id="formRenewPassword" method="post">
                    <div id="alertRenewPassword"></div>
                    <div class="row mx-1 mb-4 justify-content-center">
                        <div class="form-group col border border-secondary rounded">
                            Votre nouveau mot de passe doit contenir <b>au moins 8 caractères ou plus</b> et respecter la composition suivante : <b>au moins un chiffre, au moins une lettre majuscule, au moins une lettre minuscule et au moins un caractère spécial</b>
                            </div>
                    </div>
                    <div class="row mb-4 justify-content-center">
                        <input name="id" type="hidden" value="{{token.id}}" />
                        {{ form.input('passwordRenew','Nouveau mot de passe',
                        {class:'col',other:'autocomplete=off required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$" title="Votre mot de passe doit contenir au moins 8 caractères ou plus et respecter la composition suivante : au moins un chiffre, au moins une lettre majuscule, au moins une lettre minuscule et au moins un caractère spécial"', type:'password'})}}
                    </div>
                    <div class="row mb-4 justify-content-center">
                        {{ form.input('passwordRepeatRenew','Confirmation mot de passe',
                        {class:'col',other:'autocomplete=off required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$" title="Votre mot de passe doit contenir au moins 8 caractères ou plus et respecter la composition suivante : au moins un chiffre, au moins une lettre majuscule, au moins une lettre minuscule et au moins un caractère spécial"', type:'password'})}}
                    </div>

                    <div class="row mb-4 justify-content-center">
                        <div class="col">
                            <button id="buttonRenewPassword" class="btn btn-primary w-100 btn-lg" type="submit">
                                Valider
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}