{% import '/macro/form.html.twig' as form %}

<!-- Comments user-->
<div class="userComments-modal modal fade" id="userComments" tabindex="-1" aria-labelledby="userComments"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5 mb-5">
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-12 ">
                            <div class="card text-primary mb-4">
                                <h5 class="fw-bolder text-primary bg-secondary py-3 rounded">Mes derniers commentaires</h5>
                                {% for comment in commentsUser %}
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div class="flex-shrink-0">
                                            {% if user.picture %}
                                            <img src="./img/blog/profiles/{{user.picture |lower}}" class="profile_user_50 rounded-circle" />
                                            {% else %}
                                            <i class="fas fa-user-circle fa-2x"></i>
                                            {% endif %}
                                        </div>
                                        <div class="ms-3 justify w-100">
                                            {% if comment.status == 0 %}
                                            <span class="badge bg-secondary">En attente de validation</span>
                                            {% endif %}
                                            {% if comment.status == 2 %}
                                            <span class="badge bg-danger">Commentaire désapprouvé</span>
                                            {% endif %}
                                            {% if comment.status == 1 %}
                                            <span class="badge bg-success">Commentaire Approuvé</span>
                                            {% endif %}
                                            <div class="fw-bold">{{comment.title}}</div>
                                            <div class="font-italic small">
                                                Commenté le {{comment.dateAddComment | date("d/m/Y H:i:s")}}
                                            </div>
                                            {{comment.content}}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>