

<!-- Comments user-->
<div class="categoryAdd-modal modal fade" id="categoryAdd" tabindex="-1" aria-labelledby="categoryAdd" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                    aria-label="Close"></button></div>
            <div class="modal-body pb-5 mb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 ">
                            <div class="card text-primary mb-4">
                                <h5 class="fw-bolder text-primary bg-secondary py-3 rounded text-center">Ajouter une catégorie
                                </h5>

                                <div class="card-body">
                                    <form id="formCategoryAdd" method="post">
                                        <div id="alertCategoryAdd"></div>

                                        {% include "/backend/admin/category/categoryForm.html.twig" %}

                                        <div class="row my-4 justify-content-center">
                                            <div class="col"><button id="buttonCategoryAdd" class="btn btn-secondary w-100 "
                                                    type="submit">Valider</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

