{% import '/macro/section.html.twig' as section %}
{% extends "layout.html.twig" %}
{% block navbar %}{% set urlblog = "/" %}{% set url = "/" %} {{ parent() }}{% endblock %}
{% block content %}

{{section.sectionstart("Plan du site",{id:'sitemap'})}}
<!-- Sitemap Section Content-->
<div class="row">
    <div class="col">
        <p class="lead ">
        <ul>
            <li><a href="/" class="text-primary text-decoration-none" rel="noopener">Homepage</a>
                <ul>
                    <li><a href="./#experiences" class="text-primary text-decoration-none" rel="noopener">Experiences</a></li>
                    <li><a href="./#competences" class="text-primary text-decoration-none" rel="noopener">Compétences</a></li>
                    <li><a href="./#portfolio" class="text-primary text-decoration-none" rel="noopener">Portfolio</a></li>
                    <li><a href="./#blog" class="text-primary text-decoration-none" rel="noopener">Blog récents</a></li>
                    <li><a href="./#contact" class="text-primary text-decoration-none" rel="noopener">Contact</a></li>
                </ul>
            </li>
            <li><a href="./blog" class="text-primary text-decoration-none" rel="noopener">Blog</a></li>
            <li><a href="./legalNotice" class="text-primary text-decoration-none" rel="noopener">Mentions légales</a></li>
            <li><a href="./sitemap" class="text-primary text-decoration-none" rel="noopener">Plan du site</a></li>
        </ul>
        </p>
    </div>
</div>
{{section.sectionend()}}
{% endblock %}