<!DOCTYPE html>
<html lang="fr">

<head>

    {% block head %}
    <title>{% if head.title %}{{ head.title }} - {%endif %}Siaka MANSALY</title>
    {% include "/core/head.html.twig" %}
    {% endblock %}
</head>

<body id="page-top" class="index">
    {% block navbar %}{% include "/core/navbar.html.twig" %}{% endblock %}
    

    {% block content %}{% endblock %}

    <footer class="footer text-center">
        {% block footer %}{% include "/core/footer.html.twig" %}{% endblock %}
    </footer>

    {% include "/core/login.html.twig" %}

    {% include "/core/register.html.twig" %}

    {% include "/core/lostpassword.html.twig" %}

    

</body>

</html>