{% import '/macro/form.html.twig' as form %}
{% extends "layout.html.twig" %}
{% block navbar %}{% set urlblog = "/" %} {% set url = "/" %}{{ parent() }}{% endblock
%}
{% block content %}
{% if session.login.userType == 'admin' %}
<header id="adminBlog" class="page-section hero_userManager border-bottom mb-4">
  <div class="container">
    <div class="text-center mt-5">
      <h1 class="fw-bolder text-light">Modifier un utilisateur</h1>

    </div>
  </div>
</header>

<div class="container my-4 text-primary">
  <div class="mb-4 text-left d-flex justify-content-between">
    <a href="/userManager" class="btn btn-outline-steel" role="button" rel="noopener"><i
            class="fas fa-angle-double-left"></i>  Administration des utilisateurs</a>
           
</div>
  <form id="formEditProfile" method="post">
    <div id="alertEditProfile"></div>
    <input type="hidden" name="id" value="{{user.id}}"/>
    {% include "/backend/admin/user/userForm.html.twig" %}
    <div class="row my-4 justify-content-center">
      <div class="col"><button id="buttonUserEdit" class="btn btn-steel w-100 " type="submit">Enregistrer mes modifications</button>
      </div>
     
    </div>
  </form>

    


</div>




{% endif %}

{% endblock %}